body {
  margin: 0;
  padding: 0;
}

#card {
  margin-top: 250px;
  margin-left: 50px;
  margin-right: 50px;
}

.descricao {
  size: 1;
}

#corPredominante {
  background-color: #fff;
}

#corPrimaria {
  background-color: #167a34;
}

#corSecondaria {
  background-color: #172474;
}
